.animatedTextContainer {
  --maskX: 0;
  --maskY: 0;
  --borderColorAccent: rgba(255,255,255, 0.5);
  --borderColor: #9c3dca;
  position: relative;
  cursor: default;
}

.animatedTextContent {
  letter-spacing: 5px;
  margin: 0 auto;
  text-align: center;
  color: #2c2f31;
  color: #3c4144;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: .9;
  /* text-shadow:
    -2px 1px 0 var(--borderColorAccent),
    -2px 2px 0 var(--borderColorAccent),
      3px 2px 0 var(--borderColorAccent),
      1px -1px 0 var(--borderColor),
      -1px 1px 0 var(--borderColor),
        1px 1px 0 var(--borderColor),
        0 6px 0px rgba(0, 0, 0, 1),
        0 10px 9px rgba(0, 0, 0, 1); */
}

.animatedTextContentClone {
  composes: animatedTextContent;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
  clip-path: circle(
    40px at
    var(--maskX)
    var(--maskY)
  );
  clip-path: polygon(
    calc(var(--maskX) * 1%) calc((var(--maskY) * 1%)),
    -40% 100%,
    140% 100%
  );
}
