body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 90%;
  line-height: 1.58;
  letter-spacing: -.004em;
  /* margin-bottom: 0; */
}

code {
  font-size: 90%;
}

ol,
ul {
  margin: 0;
  font-size: 90%;
  list-style-position: outside;
  padding-left: 1rem;
}

pre,
code {
  margin: 0;
}


/* --------github corners-------- */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
